*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgba(177, 27, 80, 0.745);
    display: flex;
    justify-content: center;
    align-items:center;
}

.button{
    padding: 20px 40px;
    border-radius: 5px;
    background-color: rgb(204, 199, 199);
    box-shadow :0 4px 30px rgba(0,0,0,.3);
    text-decoration: none;
    color: black;
    overflow: hidden;
    position: relative;
}

.button span{
    z-index: 99;
    position: relative;
}


.button::before{
    content : "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50% , -50%);
    border-radius: 50%;
    transition: width 0.5s , height 0.5s;
}

.button:hover::before{
    height: 300px;
    width: 300px;
}
