
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side {
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    overflow: hidden;

}

.side .title {
    color: rgb(255, 255, 255);
    font-size: 6vw;
    font-family: "Poppins" sans-serif;
    margin: 0px 20vw;
    width: 80vw;
}

#left-side{
    background-color: #9B1750;
    z-index: 2;
    width: 60%;
}

#left-side .title{
    color: white;
}

#left-side .fancy{
    color: #00d9ff;
}

.fancy{
    font-size: 5vw;
    font-family: cursive;
}

#right-side{
    
    background-color: #E5E4E1;
    /* z-index: 14; */
    color: black;
}


#right-side .fancy{
    color: #ff0000;
}

#right-side .title{
    color: black;
}